body {
  background-color: #20232a;
  color: #61dafb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-dark .nav-link {
  color: #bbb !important;
}

.navbar-dark .nav-link:hover {
  color: #61dafb !important;
}

.btn-outline-light:hover {
  background-color: #61dafb;
  color: #20232a !important;
}
